.DS_Store

/target/
/build/
/out/

/.mvn/wrapper/maven-wrapper.jar


.env
*.properties
*.yml
*.yaml
*.log
/logs/
/.mvn/
/mvnw
mvnw.cmd
/.mvn/wrapper/maven-wrapper.jar*.local

.idea/
*.iml
*.ipr
*.iws

*.war
*.jar
*.class
